<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
        h1 {
            color: green;
            font-size: 50px;
        }
        p {
            text-align: justify;
            color: green;
            font-size: 25px;
        }
        a {
            color: green;
            text-decoration: none;
        }
        .nav {
            text-align: center;
        }
        a:visited {
            color: red;
        }
        a:hover {
            color: blue;
        }
        a:active {
            color: yellow;
        }
    </style>
</head>
<body>
<h1 align="center">Welcome to my Symfony project!</h1>
<div class="nav">
    <a href="/blog">Blog</a>
    <a href="/lucky/number/100">Lucky number</a>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nullam aliquet est mauris, id posuere lectus porttitor ac.
    Suspendisse eu tincidunt ligula, sed pellentesque elit. Aliquam erat volutpat.
    Praesent pellentesque libero in eros auctor venenatis.
    Vivamus non ullamcorper diam. Nulla at ultricies risus.
    Duis hendrerit pellentesque ligula, vel ullamcorper velit maximus ut.
    Mauris et risus euismod, cursus est ac, aliquet turpis.
    Phasellus eget nulla id ex viverra rutrum eu sit amet purus.
    Pellentesque scelerisque augue a fringilla consequat.
    In non dapibus quam, in commodo orci.
    Curabitur faucibus condimentum consequat.
    Nulla eu lectus sit amet ante euismod convallis vitae id neque.
    Donec maximus faucibus placerat.
    Aenean nisi velit, pulvinar sed arcu vel, ornare commodo eros.
    Praesent eget varius urna.</p>
<p>Proin in tortor efficitur, iaculis enim et, ultrices ipsum.
    Aliquam elementum felis nec sem imperdiet maximus.
    Morbi non enim nec augue dictum maximus eu sed arcu.
    Curabitur ac auctor mi, nec elementum tellus.
    Nunc sed mi tempor, pharetra massa ac, efficitur dui.
    Fusce ac tincidunt velit, in egestas est.
    Suspendisse volutpat mauris erat.
    Nam imperdiet, lorem non facilisis bibendum, quam ante iaculis est, a ullamcorper ligula ex eu justo.
    Aliquam eu condimentum metus.
    Suspendisse porta nibh sit amet pellentesque gravida.
    Aliquam tempus neque augue, in auctor felis pretium et.
    Nullam iaculis ultrices ornare.</p>
</body>
</html>